<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{COUNTRY_NAME}} - Latest News | RagaDecode</title>
    {{GA_SCRIPT}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4195715781915036"
     crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Explore the latest decoded news and travel insights from {{COUNTRY_NAME}}. Curated by RagaDecode for curious minds."
    />
    <meta name="author" content="Ragavendran Ramesh" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_io/favicon-16x16.png"
    />
    <link rel="shortcut icon" href="/favicon_io/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon_io/apple-touch-icon.png"
    />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />

    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/listpage.css" />
    <!-- <link rel="stylesheet" href="/assets/articles.css" /> -->
    <link rel="stylesheet" href="/assets/category.css" />
    <link rel="stylesheet" href="/assets/location.css">

    <link rel="canonical" href="{{BASE_DOMAIN}}/locations/{{CANONICAL_PATH}}" />
    <meta
      property="og:title"
      content="{{COUNTRY_NAME}} - News & Travel Insights | RagaDecode"
    />
    <meta
      property="og:description"
      content="Top decoded news and travel articles about {{COUNTRY_NAME}} at RagaDecode.com"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{BASE_DOMAIN}}/{{COUNTRY_SLUG}}" />

    <style>
      
    </style>
  </head>

  <body>
    {{HEADER}}

    <main>
      <div class="layout-wrapper">
        <div class="main-content">
          <div class="content-wrapper"> 
              {{NEWS_BLOCK_SECTION}} 
          </div>
        </div>
      </div>
    </main>

    {{FOOTER}}
  </body>
</html>
